// #wpadminbar {
// 	display: none;
// }

.page-template-front {
	
	#front-hero {
		background: darken($yellow, 10%);
		display: inline-block;
		width: 100%;

		.branding-contain {
			background: darken($yellow, 12%);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			// background-blend-mode: lighten;
			opacity: .8;
			// @include breakpoint(large) {
			// 	@include grid-column(40%);
			// }
			.branding {
				text-align: center;
				h1.logo {
					// font-size: 	8rem;
					text-transform: uppercase;
					padding: 5em 0;
					margin: 0;
					#happy-place-logo-circle {
						max-height: 400px;
						#text {
							fill: transparent;
						} /* text */
						#circle {
							fill: $yellow;
						}
					}

				}
			}
		}
		.tag-contain {
			background: $blue;
			// @include breakpoint(large) {
			// 	@include grid-column(60%);
			// }
			 
			padding: 4em 2em;
			.tag {
				p {
					font-size: 3em;
					@include breakpoint(large){
						font-size: 4em;
						line-height: 1em;
						// padding: 1em .5em;
					}
					@include breakpoint(xlarge){
						font-size: 4em;
						line-height: 1.2em;
						// padding: 1em .5em;
					}
					text-align: center;
					color: $white;
					font-family: $sans-serif;
					.amp {
						font-family: $serif;
						font-weight: 900;
						color: $red;
					}
				}
			} /* tag */
			.section-divider {
				width: 80%;
				hr {
					border-color: $white;
				}
			}
			.location {
				p {
					margin: 0;
					font-weight: 100;
					color: $white;
					text-align: center;
					& #hp-address {
						max-width: 250px;
						fill: $white;
					}
					
				}
			}
		} /* tag-contain */
	} /* #front-hero */

	section {
		text-align: center;
		// padding: 4em 0;
		.section-contain {
			padding: 0;
			max-width: 100%;
			.section-text {
				padding: 4em!important;
				@include breakpoint(large){
					@include grid-column(7);
					padding: 4em!important;
					p {
						font-size: 1.5em;
					}
				}
			} 
			.section-img {
				@include breakpoint(medium down){
					height: 300px!important;
				}
				display: block;
				@include breakpoint(large){
					@include grid-column(4);
				}
				padding: 0!important;
				background-size: cover;
			}
		}
	} /* section */

	#events-lead {
		padding: 0;
		// border-bottom: solid 5em lighten($green, 0%);
		background-color: lighten($green, 0%);
		color: $white;
		.section-contain {
			.section-text {
				h2 {
					color: $white;
					text-align: center;
				}
				p.cta {
					margin-top: 2em;
					.button {
						color: darken($green, 5%);
						background-color: $white;
					}
				}
			}
			.section-img {
				// box-shadow: inset 3em 0 3em $green;
				background-image: url("../images/happy-place-events-happy-dance-1.gif");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-blend-mode: darken;
				background-color: $green;
				opacity: .5;
				// padding: 4em;
				// background-blend-mode: overlay;
				// transform: scaleX(-1);
			}
		}
	} /* events-lead */

	#membership-lead {
		border-bottom: solid 5em lighten($red, 0%);
		text-align: center;
		.section-contain {
			.section-text {
				// color: $white;
				// h2 {
				// 	color: $white;
				// }
			.section-img {
				background-image: url("../images/happy-place-coworking-membership-mr-rodgers.jpg");
				background-repeat: no-repeat;
				background-position: top center;
				display: block;
				@include breakpoint(large){
					@include grid-column(5);
					background-size: cover;
					min-height: 600px;
				}
				@include breakpoint(xxlarge){
					min-height: 500px;
				}
				.img-container {
					height: 100%;
				}
			} /* section-img */
			}	
		} /* section-contain */
		h2 {
			color: $red;
			text-align: center;
		}
		p.cta {
			margin-top: 2em;
			.button {
				background-color: lighten($red, 0%);
			}
		}
	} /* membership-lead */	

	#desk-lead {
		background-color: darken($yellow, 15%);
		// border-bottom: solid 5em darken($yellow, 15%);
		.section-contain {
			padding: 4em 0;
			.section-text {
				h2 {
					color: $blue;
					text-align: center;
				}
				p.cta {
					margin-top: 2em;
					.button {
						color: $white;
					}
				}
			} /* section-text */
			.section-img {
				height: 300px!important;
				width: 300px;
				@include breakpoint(medium){
					height: 400px!important;
					width: 400px;
				}
				overflow: hidden;
				border-radius: 100%;
				margin: 2em auto;
				position: relative;
				@include breakpoint(large){
					right: 5%;
				}
				@include breakpoint(xlarge){
					right: 10%;
				}
				text-align: center;
				.img-container {
				    animation: spinX 3s linear infinite;
				    content: '';
				    background: url("../images/outerspace-desk-chair-spinning.jpg") no-repeat center center;
				    background-size: cover;
				    // position: relative;
				    // left: 0;
				    // top: 0;
				    display: block;
				    width: 100%;
				    height: 100%;
				    @include breakpoint(large){
					    width: 100%;
					    height: 100%;
				    }
				    -webkit-animation: rotatedesk 15s linear infinite;
				}
    			@-webkit-keyframes rotatedesk
				{  
					0%   {-webkit-transform: rotate(0deg); }  
					100% {-webkit-transform: rotate(360deg);}  
				}
			} /* section-img */
		} /* section-contain */
	} /* events-lead */
}

// Page header


#location-map {
	background-color: $blue;
	display: block;
	padding: 0!important; 
	.section-contain {
		max-width: 100%;
		padding: 0!important; 
		.address-contain {
			margin: 4em auto 0;
			@include breakpoint(large) {
			    @include grid-column(4);
			}
			padding: 5em!important; 
			#hp-address {
				fill: $white;
				@include global-trans(1500ms);
				&:hover {
					fill: darken($blue, 10%);
				}
				#text {
					width: 400px;
					height: 400px;
				}
			}
			p.bham {
				font-size: 1.5em;
				font-family: $header-font-family;
				text-align: center;
				color: darken($blue, 15%);
				@include breakpoint(large){
					font-size: 3.75em;
				}
				// letter-spacing: .25em;
				// text-transform: uppercase;
			}
		}
	}
	#map {
		min-height: 500px;
		@include breakpoint(large) {
		    @include grid-column(8);
			min-height: 750px;
		}
		padding: 0!important; 
	}
}
// Intro
.entry-content {
	display: block;

	#proximity {
		// @include grid-row();
		ul {
			@include breakpoint(large) {
				columns: 3;
			}
			  
		}
	}
	#gallery-wanted {
		background-color: lighten($alert-color, 10%);
		p {
			font-family: $serif;
			font-weight: 100;
			font-size: 2.25em;
			@include breakpoint(medium) {
				font-size: 3.5em;
			}
			  
		}
		h3, p {
			color: $white;
		}
	}
} /* entry-content */

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}