// Page header
#front-hero {
	figure {
		margin: 0;
	}
	.marketing {
		@include grid-row();
		max-width: 55rem;
	}

	// @include breakpoint(small) {
	// 	background: url('../images/space-hero-mobile') bottom center;
	// 	background-size: cover;
	// 	background-position: bottom;
	// 	padding: rem-calc(65%) 0;
	// 	margin: 0 0 rem-calc(32);
	// 	height: auto;
	// 	position: relative;
	// 	text-align: left;
	// }

	@include breakpoint(medium) {
		// background: url('../images/space-hero.jpg') bottom center;
		// background-size: cover;
		// background-position: center;
		// height: rem-calc(685);
		// margin: 0 0 rem-calc(72);
	}



}

// Intro
.entry-content {
	h2 {
		font-size: 8em;
		text-transform: uppercase;
		letter-spacing: .08;
	}
	text-align: center;
	section {
		min-height: 600px;
		.section-contain {
			@include grid-row();
			padding: 4em;
		}
		p {
			font-size: 2em;
			font-weight: 100;
		}

		&.intro {
			background: $blue;
			color: $white;
			padding: 6em 0 0;
			p {
				// font-family: $serif;
				@include breakpoint(medium) {
					font-size: 3.5em;
				}
			}
			strong {
				font-family: $serif;
				font-weight: 500;
				text-transform: uppercase;
			}
		}
		&.why {
			background: $yellow;
		}
	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}