// Page header
#front-hero {
	background: darken($yellow, 10%);
	display: inline-block;
	width: 100%;
	.branding-contain {
		background: darken($yellow, 12%);
		@include breakpoint(large) {
			@include grid-column(73%);
		}
		.branding {
			text-align: center;
			h1.logo {
				// font-size: 	8rem;
				text-transform: uppercase;
				padding: 1em 0;
				margin: 0;
				.cls-1 {
					fill: $white;
				}
			}
		}
	}
	.address-tag-contain {
		background: $blue;
		@include breakpoint(large) {
			@include grid-column(27%);
		}
		  
		.address-tag {
			padding: 3em 2.5em;
			text-align: center;
			p {
				color: $white;
				margin: 0;
			}
			.address {
				.cls-1 {
					fill: $white;
				}
				p.bham {
					font-size: 1.5em;
					font-family: $header-font-family;
					letter-spacing: .25em;
					text-transform: uppercase;
				}
			}
			p.tagline {
				@include breakpoint(medium) {
					font-size: 3.5em;
				}
				padding: 1em 0;
			}
			p.for-lease {
				background: $alert-color;
				padding: .05em .5em;
				font-size: 2.5em;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: .15em;
				display: inline-block;
				border: solid 8px $white;
				// margin-top: 50%;
			}
		}
	}

}
.featured-gallery {
	display: block;
	figure {
		margin: 0;
	}
}

// Intro
.entry-content {
	display: block;
	// h2 {
	// 	font-size: 8em;
	// 	text-transform: uppercase;
	// 	letter-spacing: .08;
	// }
	section {
		// min-height: 600px;
		.section-contain {
			@include grid-row();
			padding: 4em;
		}
		&.intro {
			background: $blue;
			color: $white;
			text-align: justify;
			p {
				// font-family: $serif;
				@include breakpoint(medium) {
					font-size: 3.5em;
				}
			}
			em {
				font-style: normal;
				font-weight: 700;
			}
			strong {
				font-family: $serif;
				font-weight: 500;
				text-transform: uppercase;
			}
			a {
				color: darken($blue, 10%);
			}
		}
		&.why {
			background: $yellow;
		}
	}
	.usps {
		section {
			@include breakpoint(large) {
			    @include grid-column(4);
			}
			li {
				font-size: 1.3em;
				list-style: square;
				margin-left: .5em;
			}
		}
	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}