.page-template-page-membership {

	.top-bar, .top-bar ul {
		background-color: $red;
	}
	.top-bar .menu li:not(:last-child) {
		border-color: darken($red, 10%);
	}
	.top-bar .menu li a:hover:not(.button), .top-bar .menu li.active a {
		color: darken($red, 10%);
	}
	#sub-nav-contain {
		z-index: 100;
		display: block;
		background-color: darken($red, 0%);
		@include hide-for(small);
		.nav-contain {
		}
		nav {
			background-color: darken($red, 0%);
			
		}
		a {
			color: $white;
			text-transform: uppercase;

		}
	}
	.entry-content {
		text-align: center;
		section {
			text-align: center;
			@include breakpoint(small only) {
				padding: 2em 0;
			}
			.section-contain {
				padding: 0;
				max-width: 100%;
				.section-text {
					padding: 1em;
					@include breakpoint(large) {
						padding: 4em!important;
					}
					h2 {
						text-transform: uppercase;
					}
					p {
						line-height: 1.8;
					}
				} 
				p.cta {
					font-weight: 900;
					// font-family: $sans-serif;
					letter-spacing: .05em;
					font-weight: 900;
					text-transform: uppercase;
					a.button {
						@include breakpoint(large) {
							font-size: .6em;
						}
					}
				}
				.section-img {
					@include breakpoint(medium down){
						height: 300px!important;
					}
					display: block;
					@include breakpoint(large){
						@include grid-column(4);
					}
					padding: 0!important;
					background-size: cover;
				}
			}
		} /* section */

	}
	#intro {
		background: $red;
		p.subheader {
			color: $white;
			text-transform: uppercase;
			letter-spacing: .08em;
		}
		h1 {
		}
	}
	#mission {
		background: $blue;
		background-color: $white;
		padding: 12em 0;
		.section-contain {
			padding: 0;
			max-width: 100%;
			.section-text {
				min-height: 600px;
				@include breakpoint(large){
					@include grid-column(12);
					// min-height: 600px;
				}
				@include breakpoint(xxlarge){
					// min-height: 500px;
				}
				h2 {
					color: $medium-gray;
					text-transform: uppercase;
					font-size: 8em;
					line-height: .8em;
					margin-top: 0;
				}
				p.subheader {
					text-transform: uppercase;
					font-family: $serif;
					margin: 0 ;
					color: $dark-gray;
				}
				p {
					color: $blue;
					@include breakpoint(medium){
						padding: 0 4em;
						font-size: 1.75em;
					}
				}
			    ol.mission-list {
			      margin: 0;
			      counter-reset: li;
			      li {
			        list-style: none;
			        display: block;
			        // padding-top: 10em;
			        margin-bottom: 2em;
			        text-align: center;
			        @include breakpoint(large) {
				        padding: 1em 20%;
			        }
			        
			        &:before {
			          font-size: 2em;
			          font-family: $serif;
			          background-color: $red;
			          color: $white;
			          font-weight: 900;
			          width: 1.5em;
			          height: 1.5em;
			          margin: 0 auto;
			          display: block;
			          border-radius: 100%;
			          content: counter(li);
			          counter-increment: li;
			          text-align: center;
			        }
			        h3 {
			          font-size: 2em;
			          line-height: 1.2em;
			          @include breakpoint(medium){
			              font-size: 5em;
			          }
			          @include breakpoint(large){
			              font-size: 6em;
			          }
			          text-transform: uppercase;
			          font-family: $sans-serif;
			          strong {
			            font-family: $serif;
			            font-size: 1.4em;
			          }
			        } /* h3 */
			        p {
				      border-top: solid 1px $red;
			          padding: 1em 0;
			          margin-top: 1em;
			        }
			      } /* li */
			    } /* ul.mission-list */

			} /* section-text */
		} /* section-contain */

	} /* mission */

	#details {
		background-color: $red;
		padding: 12em 0;
		// color: $white;
		h2 {
			color: $white;
		}
		header {
			margin: 2em 0;
			p.subheader {
				color: $white;
			}
		}
		section {
			background-color: $white;
			font-size: 1.4em;
			padding: 1em;
			margin: 2em 0;
			@include breakpoint(medium) {
				padding: 2em;
			}
			@include breakpoint(xlarge) {
				margin: 2em 8em;
			}
		}
		section.membership-cost {
			margin-bottom: 4em;
			.cost {
				text-align: center;
				color: $red;
				font-size: 2.75em;
				font-weight: 100;
			}
			.plus-token {
				font-size: .5em;
				border-bottom: solid 1px;
				padding-bottom: 3em;
			}
			section.coworking-costs, section.event-rental-costs {
				margin: 2em 0;
				padding: 0;
				font-size: .5em;
				color: darken($dark-gray, 10%);
				@include breakpoint(large) {
					@include grid-column(6);
				}
				@include breakpoint(xxlarge) {
					font-size: .7em;

				}
				h4 {
					color: $red;
					text-transform: uppercase;
					font-size: 1.8em;
				}
				ul {
					li {
						border-bottom: solid 1px $light-gray;
						margin: .25em;
						text-align: left;
						.price {
							float: right;

							strong {
								color: $dark-gray;
								// font-size: 1.4em;
								padding: 0 .25em;

							}
						}
					}
				}
			}
		}

		section.benefits {
			ul.benefits-list {
				li {
					background-color: transparent;
					// font-size: 1.4em;
					border-bottom: solid 1px $medium-gray;
					p {

					}
				}
			}
			
		} /* section.benefits */

		section.profit {
			color: $white;
			background-color: lighten($black, 10%);
			// font-size: .8em;
			@include breakpoint(large) {
				padding: 4em 6em;
			}
			h3 {
				color: $yellow;
				font-size: 2.5em;
				@include breakpoint(large) {
					font-size: 4em;
				}
				strong {
					font-family: $serif;
					font-weight: 100;
				}
			}

		}
		section.joining {
			@include breakpoint(xxlarge) {
				padding: 2em 12em;
			}
			p {
				@include breakpoint(medium) {
					font-size: 	1.1em;
				}
			}
		}
		section.criteria {
			@include breakpoint(xxlarge) {
				padding: 2em 12em;
			}
			p {
				font-size: .7em;
				text-align: justify;
				padding: 0 1em;
				@include breakpoint(medium) {
					margin: 1.75em 0 1.5em;
				}
			}
		}
	}

	#cowork {
		background-color: $blue;
		padding: 12em 0;
		header {
			padding-bottom: 2em;
			margin: 0 10% 2em;
			p.subheader {
				color: $white;
			}
			h2 {
				color: $white;
			}
			p.intro {
				color: $white;
				@include breakpoint(medium) {
					font-size: 1.5em;

				}
			}
		}
		h3 {
			color: $white;
			border-bottom: solid 1px $white;
		}

		section.pricing-access {
			ul {
				@include grid-row();
				li {
					background-color: transparent;
					@include breakpoint(large) {
						@include grid-column(4);
						padding: 1em;
					}
					.contain {
						text-align: center;
						background-color: $white;
						border: solid 1px $light-gray;
						padding: 1em 1em;
						h4 {
							color: $red;
							text-transform: uppercase;
							font-size: 2em;
							@include breakpoint(large) {
								font-size: 3em;
							}
						}
						.cost {
							color: $red;
							font-family: $serif;
							font-size: 2em;
							@include breakpoint(large) {
								font-size: 3em;	
							}
						}
						.cost-sub {

						}
						.hours {
							font-weight: 900;
							color: $dark-gray;
							text-transform: uppercase;
						}
						.hours {
						}
					}
				}
			}
			.rate-extras {
				// @include grid-column(12);
				@include grid-row();
				padding: 2em 4em;
				.rate-contain {
					margin: 1em 0;
					@include breakpoint(small only){
						text-align: center;
					}
					h4 {
						font-size: 2em;
					}
				}
				.discount {
					color: $white;
					@include breakpoint(medium){
						@include grid-column(6);
					}
					.rate-contain {
						padding: 1em;
						background-color: $blue;
					}
				}
				.partner {
					color: $white;
					@include breakpoint(medium){
						@include grid-column(6);
					}
					.rate-contain {
						padding: 1em;
						background-color: $green;
					}
				}
			}
			.cta {
				@include grid-row();
				text-align: center;
			}
		}

		


		#amenities {
			// color: $blue;
			// background: darken($yellow, 15%);
			h2, h3 {
				// color: $blue;
			}
			section {
				margin: 2em 0;
				@include breakpoint(large) {
					@include grid-column(48%);
					// @include grid-column-gutter(4em);
					font-size: 1.25em;
				}
				header {
					padding: 1em 0;
					margin-bottom: 0;
					h4 {
						text-transform: uppercase;
						strong {
							font-size: 1.85em;
							color: $red;
							// font-family: $serif;
							// text-transform: none;
							// font-weight: 100;
							// color: $black;
						}
					}
					p.subheader {
						color: $black;
						font-size: .8em;
					}
				}
			}
			ul {
				background-color: $white;
				li {
					background-color: transparent;
					margin: 0;
					border-bottom: solid 1px $light-gray;
					&:first-child {
						border-top: solid 3px $light-gray;
					}
					p {
						margin: 0;
					}
					// padding: 8em;
				} /* li */
			} /* ul */
			section.drop-in-amenities, section.dedicated-amenities {
				background-color: $white;
				@include breakpoint(large) {
					min-height: 800px;
				}
			}
		} /* amenities */
	} /* coworking */
	#apply {
		background-color: $red;
		h2,p {
			color: $white;
		}
		.section-contain {
			padding: 8em 4em;
		}
		.accordion-title {
			background-color: darken($blue, 5%);
			font-weight: 100;
			&:hover {
				background-color: darken($blue, 15%);
			}
			@include breakpoint(small only) {
				font-weight: 600;
			}
		}
		.accordion-content {
			background-color: darken($blue, 10%);
		}
		ul.accordion {
			margin: 4em 0;
			li {
				margin: 0;
			}
		}
	} /* cta */

} /* page-template-page-membership */
