.page-template-page-desk-rental {
	.menu .active > a {
		color: darken($green, 10%);
	}
	#intro {
		h1 {
			@include breakpoint(large){
				font-size: 8em;
			}
		}
	}
	#amenities {
		background: $blue;
		h2, h3 {
			color: $white;
		}
		ul {
			@include breakpoint(medium) {
				columns: 2;
				column-gap: 5em;
			}
			li {
				h4 {
					font-size: 1.85em;
					text-transform: uppercase;
					strong {

					}
				}
			} /* li */
		} /* ul */
	} /* amenities */

	#floor-map {
		h2,p {
			color: $white;
		}
		background-color: rgb(82, 86, 89);
		padding: 3em 0;
		.overlay {
		   background:transparent; 
		   position:relative; 
		   width:100%;
		   @include breakpoint(large) {
			   height:550px; /* your iframe height */
			   top:550px;  /* your iframe height */
			   margin-top:-550px;  /* your iframe height */
		   }
		}
		#map-embed {
			height: 350px;
			@include breakpoint(large) {
				height: 550px;
			}
			
		}
		border-bottom: solid 20px rgb(82, 86, 89);
		figure {
			margin: 0;
		}
	} /* floor-map */



	#uses {
		background: $white;
		// @include grid-column();
		ul {
			@include breakpoint(medium) {
				columns: 2;
				column-gap: 5em;
			}
			list-style: inherit;
			li {
				color: $blue;
				// border-bottom: solid 2px;
				border-bottom: solid 2px;
				padding: 1.5em 0 0em;
				margin: 0;
				// background: $yellow;
			}
			.cta {
				border: none;
				.cta-button {
					margin-top: 2.5em;
					.button {
						font-size: 1.2em;
						background: $red;
						display: block;
						width: 80%;
					}
				}
			}
			li:before {
				color: lighten($blue, 25%);
				content:"\f046";
				font-size: 2.95em;
				font-family: FontAwesome;
				float: left;
				position: relative;
				top: -.17em;
				padding: 0 .25em .15em 0;
				display: inline-block;
			}
		}
	} /* uses */
}
