
#masthead {
	background: darken($yellow, 10%);
	@include breakpoint(medium) {
		// background: url('../images/space-hero.jpg') bottom center;
		background-size: cover;
		background-position: center;
		// height: rem-calc(685);
		// margin: 0 0 rem-calc(72);
	}
	.branding {
		@include grid-row();
		text-align: center;
		h1.logo {
			// font-size: 	8rem;
			text-transform: uppercase;
			.cls-1 {
				fill: $white;
			}
		}
		p {
			margin: 0;
		}
		p.tagline {
			padding: 40px 0;
			@include breakpoint(medium) {
				font-size: 4em;
			}
		}
		p.address {
			padding: 20px 0;
			.cls-1 {
				fill: $blue;
			}
		}
		p.bham {
			font-size: 2em;
			@include breakpoint(medium) {
			    font-size: 6em;
			    padding: 40px 0;
			}
			font-family: $header-font-family;
			letter-spacing: .25em;
			text-transform: uppercase;
		}
	}
}